<%- include('../../partials/header.ejs') %>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include('../../partials/sidebar.ejs') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>

              <!-- Topbar Search -->
              <form action="/admin/dashboard/addBook" method="POST" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                  <input type="text"  name="barcode" class="form-control bg-light border-0 small" placeholder="Search for..."
                    aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>

              <!-- Topbar Navbar -->
              <ul class="navbar-nav ml-auto">
                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                      <%= user.username %>
                    </span>
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/admin/logout">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Logout
                    </a>
                  </div>
                </li>
              </ul>
            </nav>

            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <%- include('../../partials/message.ejs') %>
              
              <!-- Page Heading -->
              <h1 class="h3 mb-4 text-gray-800">Dashboard</h1>
          
             
              <!-- Content Row -->
              <div class="row">
                <div class="col-lg-6">
                  <div>
                  <!-- form add trans dimasukin ke sini : no 1 -->
                  <form action="/admin/transaction/addTrans" method="POST" >
                    <div class="container">
                      <div class="row">
                  
                        <div class="col">
                          <div class="form-group">
                            <select class="form-control " name ="select2" id="select2" required>
                              <option selected disabled value="">Member</option>
                              <% for(var i = 0; i < member.length; i++){ %>
                              <option value=<%= member[i]._id %> ><%= member[i].name %></option>
                              <% } %>
                            </select>
                          </div>
                        </div>
                  
                        <div class="col">
                          <div class="form-group">
                            <select class="form-control" name="jaminan" required>
                              <option selected disabled value="">Jaminan</option>
                              <option value="KTP">KTP / Kartu Pelajar</option>
                              <option value="kartukeluarga">Kartu Keluarga</option>
                            </select>
                          </div>
                        </div>
                        <div class="col">
                          <input class="form-control " type="text" placeholder="<%= moment().format('DD-MMM-YY') %>" id="fdate" name="fdate" required >
                        </div>
                        
                        <div class="col">
                          <input class="form-control " type="text"  placeholder="<%= moment().format('DD-MMM-YY') %>" id="tdate" name="tdate" required >
                        </div>
                  
                          <input class="form-control"  name="time" value="<%= moment().format('LT') %>" type="hidden"  />
                    
                      </div>
                    </div>
                    <% var subtotal = 0;  %>
                    <% var generateID = 1;  %>
                    <% let diskonValue   %>
                      <% for(var i = 0; i < list.length; i++){ %>
                      <input class="form-control" type="hidden" value=<%= subtotal += list[i].price %> >
                      <input type="hidden"  name="productId"  value=<%= list[i]._id %>  >
                      <div class="card shadow mb-4">
                        <div class="card-header">
                          <div class="row justify-content-between">
                            <div class="col-4">
                              <h6 class="m-0 font-weight-bold text-primary"> <%= list[i].product_name %> </h6>
                            </div>
                            <div class="col-4">
                              <input class="form-control" type="number" id="price" name="price" value="<%= list[i].price %>" readonly="true" >
                              </div>
                          </div> 
                        </div>
                       
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <div class="form-group" >
                                <select class="form-control"  id="discountValue<%= generateID + i  %>" name="discountValue" onchange="displayValue('<%= JSON.stringify(generateID + i) %>')" >
                                  <option selected disabled value="">Type Diskon</option>
                                  <% for(var x = 0; x < list[i].discount_id.length; x++){ %>
                                    <option value=<%= list[i].discount_id[x].amount + '^' +  list[i].discount_id[x].id + '^' +  list[i].discount_id[x].typeDiscount %> > <%= list[i].discount_id[x].typeDiscount %></option>
                                    <% } %>
                                  </select>
                              </div>
                            </div>
                            <div class="col">
                              <input type="number" class="form-control" name="diskonDataValue" value="" id= "diskon<%= generateID + i  %>" readonly="true" >
                              <!-- ini buat dapetin value jumlah array nya -->
                              <input type="hidden" class="form-control" id="arrayidDiskon" name="arrayidDiskon" value=<%=  list.length  %> >
                              <input type="hidden" class="form-control" id= "diskonID<%= generateID + i  %>" name="diskonID"  >
                              <input type="hidden" class="form-control" id= "typeDiskon<%= generateID + i  %>" name="typeDiskon"  >
                            </div>
                            <div class="col">
                            </div>
                          </div>
                          <input class="form-control" type="text"  placeholder="Description" name="desc" >
                        </div>
                      </div>
                      <% } %>
                  
                     <div style="width: 18rem;" class="card shadow mb-4">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"> Subtotal :  <input  class="form-control" value=" <%= subtotal %>" type="text" id="subtotal2" name="subtotal2" readonly="true" /></li>
                        <li class="list-group-item"> Rental Days :  <input class="form-control"  type="number" name="days"  id="days" readonly="true" /></li>
                          <li class="list-group-item">Diskon     :   <input class="form-control"  type="text" id="totalDiskon" name="totalDiskon" readonly="true" /> </li>
                        <li class="list-group-item">Total     : <input class="form-control"  type="text" id="totalAll" name="totalAll" readonly="true" /> </li>
                      </ul>
                    </div>
                    <div style="margin-bottom: 1rem;" class="card-body">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                
                  
                  </form>
                  </div>
              
                </div>

                
                <div class="col-lg-6">
                  <div class="col-sm-12 mb-3">
                    <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search for names..">
                  </div>
                  <div class="row"  id="myItems">
                    <% for(let i = 0; i < product.length; i++){ %>
                    <div class="card" style="width: 12rem; margin-right: 1rem; margin-left: 1rem; margin-bottom: 1rem">
                      <img src="https://nusapos.herokuapp.com/images/1.webp" alt="image" class="card-img-top"
                        style="height: 13rem;  object-fit: contain">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs">
                              <%= product[i].product_name %> </div>
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-0">
                              <%= product[i].status %></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Rp. <%= product[i].price %></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% } %>
                  </div>
                </div>

                <!-- Content Row -->
              </div>
              <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%# include("../../partials/footer.ejs") %>

              <!-- End of Footer -->
          </div>
          <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                Select "Logout" below if you are ready to end your current session.
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">
                  Cancel
                </button>
                <a class="btn btn-primary" href="login.html">Logout</a>
              </div>
            </div>
          </div>
        </div>
        <%- include('../../partials/dash.ejs') %>
  </body>

  </html>

