<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-product">
      <i class="fas fa-plus"></i>
    </button> -->
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>No Member</th> 
            <th>Member</th> 
            <th>Subtotal</th>
            <th>Diskon</th>
            <th>Total</th>
            <th>Jaminan</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < trans.length; i++) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= trans[i].member_Id.no_member %></td>
            <td><%= trans[i].member_Id.name %></td>
            <td><%= trans[i].subtotal %></td>
            <td><%= trans[i].total_discount %></td>
            <td><%= trans[i].total %></td>
            <td><%= trans[i].guarantee %></td>
            <td><%= trans[i].note %></td>
            <td>
              <a href="/admin/transaction/<%= trans[i].idtransdetail %>  " class="btn btn-success btn-circle btn-sm button-update">
                <i class="fas fa-eye"></i></a>
              <a href="/admin/transaction/print/<%= trans[i].idtransdetail %>  "
                class="btn btn-success btn-circle btn-sm button-update">
                <i class="fas fa-print"></i></a>
            </td>
            </tr>
          <% }%>
        </tbody>
      </table>
    </div>
  </div>
</div>
