<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-discount">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Type Discount</th>
              <th>Amount</th>
              <th>Description</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < discount.length; i++) { %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= discount[i].typeDiscount %></td>
              <td><%= discount[i].amount %></td>
              <td><%= discount[i].description %></td>
              <td><%= discount[i].status %></td>
              <td>
                <form action="/admin/discount/<%= discount[i].id %>?_method=DELETE" method="POST">
                  <a href="javascript:void()" type="button" class="btn btn-warning btn-circle btn-sm button-update"
                  data-id="<%= discount[i].id %>" data-diskon="<%= discount[i].typeDiscount %>"  data-amount="<%= discount[i].amount %>"
                    data-description="<%= discount[i].description %>" data-status="<%= discount[i].status %>" >
                    <i class="fas fa-edit"></i></a>
                  <button type="submit" class="btn btn-danger btn-circle btn-sm">
                    <i class="fas fa-trash"></i></button>
                </form>
              </td>
            </tr>
            <% }%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  