<!-- Modal -->
<div class="modal fade" id="edit-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/product/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control name" name="name" placeholder="Enter name product" required>
          </div>
          <!-- TODO: Merk display name -->
          <div class="form-group">
            <label for="name">Merk</label>
            <select class="form-control merk" name="merkId">
              <% for(let i = 0; i< merk.length; i++){ %>
              <option value="<%= merk[i].id %>"><%= merk[i].name %></option>
              <%}%>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Type</label>
            <select class="form-control type" name="typeId">
              <% for(let i = 0; i< type.length; i++){ %>
              <option value="<%= type[i].id %>"><%= type[i].name %></option>
              <%}%>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Status</label>
            <input type="text" class="form-control status" name="status" placeholder="Enter status" required>
          </div>
          <div class="form-group">
            <label for="name">Price</label>
            <input type="number" class="form-control price" name="price" placeholder="Enter price" required>
          </div>
          <div class="form-group">
            <label for="name">Description</label>
            <input type="text" class="form-control description" name="description" placeholder="Enter description" required>
          </div>
          <div class="form-group">
            <label for="name">Barcode</label>
            <input type="text" class="form-control barcode" name="barcode" placeholder="Enter barcode" required>
          </div>
         
          <div class="form-group">
            <label for="name">Image</label>
            <input type="file" class="form-control" name="image">
            <span>Pilih gambar untuk update image</span>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" class="id" name="id">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>